

header{
	height:0%;
	padding-bottom:0%;
}

#topwrap{
	width:100%;
	border:none;
}

#title{
	font-size:3em;
}

#logo{
    height:500px;
    width:auto;
	float:none;
	left:0%;
}

#menu{
	display: block;
	border-top:1px solid white;
}


#menu li{
	height:100px;
	line-height:100px;
	float:none;
	border:none;
	border-bottom:1px solid white;
	
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#menu li:hover{
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#menu a{
	font-size:2.9em;
}

article{
    height:initial;
	padding:0;
	width:100%;
}

article h1{
	font-size:3em;
}

#wrapBra{
	  margin: 20px 20px 20px 20px;
}

#img{
	float:none;
	margin-left: 0px;
	width:100%;
	height:auto;
}

#programf td{
    text-align:initial;
	padding:20px;
	font-size:40px;
}

#ordlista td{
	text-align:initial;
	padding:20px;
	font-size:30px;
}

#ordlista span{
	color:red;
	margin-right: 4px;
	font-size:40px;
}

.profile{
    float: initial;
    width:initial;
    margin-bottom:20px;
    height: auto;
    margin: 25px;
}

.profile h3{
	position:relative;	
	top:18px;
	text-align:center;
}

.stabProfile{
    text-align:center;
	float:initial;
	margin: 30px;
}

.stabProfile img{
	height:800px;
	width:540px;
}

.stabInfo{
	float:initial;
	width: initial;
	font-size: 12px;
	padding-left: 8px;
}

/* kontakt.html*/
.fixedHeight{
	height:600px;
	font-size:2.5em;
}
