---
title: Bra Att Veta
slug: braattveta
position: 10
listed: true
published: true
is_layout: false
---
{% extends parent %}
{% block 'main' %}
      <div id="wrapBra">
    	    <h1>Bra att veta</h1>
    	    <h3 class="title">Pengar</h3>
    	    <p>Uttagsautomater finns det mindre gott om vid Kalmar Nyckel (skolan) så kontanter rekommenderas.</p>
        	
        	<p>Uttagsautomater finns på följade ställen:</p>
        	<ul>
               <li>Giraffen</li>
               <li>Storgatan</li>
               <li>Södercentrum</li>
            </ul>

    	    <h3 class="title">Slips</h3>
    	    <p>Denna slips ska stolt bäras under hela nollningen. Den ska visa vad du heter,
    	    samt dess färg ska visa vilket program du studerar. Detta kommer hjälpa dig och
    	    alla andra att hitta rätt bland alla nya ansikten.</p>
    	    Ritning på slipsen hittar du <a href="https://www.dropbox.com/s/58p1zlhe55tilgv/slips.PNG">här!</a>
    	    <p>Alla fixar en egen slips och det här är de färger som gäller,
    	    I värsta fall så kan man köpa en "tras-slips" av oss för en billig peng!</p>
    	    <table id="programf">
    	        <tr>
                      <td>Utveckling och drift av mjukvarusystem</td>
                      <td style="color: #911732; font-weight: bolder;">Lilaröd</td>
                  </tr>
    	        <tr>
                      <td>Interaktionsdesign</td>
                      <td style="color: lightblue; font-weight: bolder;">Ljusblå</td>
                  </tr>
                  <tr>
                      <td>Webbprogrammering</td>
                      <td style="color: orange; font-weight: bolder;">Orange</td>
                  </tr>
              </table>

    	    <h3 class="title">Nollekit</h3>
    	    <p>Efter samlingen första dagen kommer det finnas möjlighet att köpa ett diverse saker.</p>
        
              Nollekitet innehåller:
              <ul>
                  <li>SPIIK song bok</li>
                  <li>SPIIKsköld(tygmärke)</li>
                  <li>programmärke(tygmärke)</li>
                  <span class="date">Pris. 80kr</span>
              </ul>
        		
        	  Medlemskap:
              <ul>
                  <li>Medlemskap på 1 år <span class="date">Pris. 100kr</span></li>
                  <li>Medlemskap på 2 år <span class="date">Pris. 150kr</span></li>
                  <li>Medlemskap på 3 år <span class="date">Pris. 200kr</span></li>
              </ul>
			   <p>Vi kommer även att ha försäljning av sittningsbiljetter </p>
        
               <h3 class="title">Ordlista</h3>
               <p> </p>
               <table id="ordlista">
    	        <tr>
                      <td><span class="date">Sexmästare</span></td>
                      <td>Den person som arrangerar jippon och ser till att medlemmarna får en rolig studietid.</td>
                  </tr>
                  <tr>
                      <td><span class="date">Sexmästeri</span></td>
                      <td>Personerna som hjälper sexmästaren att arrangera jippon</td>
                  </tr>
                   <tr>
                      <td><span class="date">Nollnings STAB (ofta bestående av personer från Sexmästeriet)</span></td>
                      <td>Personerna som är ansvariga för nollningen</td>
                  </tr>
    	        <tr>
                      <td><span class="date">Caps</span></td>
                      <td>Caps är ett dryckesspel som går ut på att kasta kapsyler i plastglas. Spelet är tämligen populärt bland studenter vid högskolor och universitet.</td>
                  </tr>
                 <tr>
                      <td><span class="date">Treman</span></td>
                      <td>Treman är ett dryckesspel som går ut på att kasta tärningar.</td>
                  </tr>
                  <tr>
                      <td><span class="date">Uppcabbat</span></td>
                      <td>När både över och underdel på overallen bärs på kroppen.</td>
                  </tr>
                  <tr>
                      <td><span class="date">Nercabbat</span></td>
                      <td>När overallen enbart bärs upp till midjan och resten hänger ner.</td>
                  </tr>
                  <tr>
                      <td><span class="date">Kajsa</span></td>
                      <td>SPIIKs egna musikmaskin med inbyggd grill(som aldrig används...).</td>
                  </tr>
                 <tr>
                      <td><span class="date">PIISK</span></td>
                      <td>Sexmästeriets maskot</td>
                  </tr>
                  <tr>
                      <td><span class="date">Ölhäfv</span></td>
                      <td>Är en tävlingsform där målet är att dricka en flaska öl på kortast möjliga tid.</td>
                  </tr>
                  <tr>
                      <td><span class="date">Sittning</span></td>
                      <td>En middag som förekommer på cårhus, studentkorridorer osv. Klädsel till dessa sittningar varierar!</td>
                  </tr>
                  <tr>
                      <td><span class="date">Spex</span></td>
                      <td>Spex är ett uppträdande som oftast framförs på sittningar.</td>
                  </tr>
                  <tr>
                      <td><span class="date">Omstart</span></td>
                      <td>Omstart är en term då publiken vill ha ett extranummer. Då omstart ropas upprepade gånger i kör av publiken, ofta i kombination med handklappning, åläggs uppträdarna att komma med ett nytt fyndigt nummer. Omstart används också efter sångnummer och dåliga ordvitsar.</td>
                  </tr>
                  <tr>
                      <td><span class="date">Tempo</span></td>
                      <td>När man vill sjunga en sång på sittning eller liknande ropar man tempo.</td>
                  </tr>

              </table>

              <h3 class="title">Nollelåt</h3>
               <p>Välkomna alla ni som har sökt till Teknik</p>
                  <p class="lat">Nollor är ni nu i föreningen SPIIK</p>
                  <p class="lat">Slipsen den är på, färgen din är röd</p>
                  <p class="lat">Den ska ni bära till eran död</p>
                  <p class="lat">Nu ska vi ut och leka i två veckor fram</p>
                  <p class="lat">Grodorna fiskas i våran damm</p>
                  <p class="lat">Kajsa spelar högt och markerar revir</p>
                  <p class="latsista">Staben visar vägen fram</p>

                  <p class="lat">Vi är alla SPIIKar, det är vi som hörs mest</p>
                  <p class="lat">Alla andra lipar för att vi är bäst</p>
                  <p class="lat">Välkomna alla nya till Calmare stad</p>
                  <p class="latsista">Nu ska vi ut o festa, sjunga och va glad</p>

                  <p class="lat">Nu händer det mycket och du är i extas</p>
                  <p class="lat">Måste klara hela veckan ut</p>
                  <p class="lat">Kåravgiften måste pröjsas genast</p>
                  <p class="lat">För annars tar allt det roliga slut </p>
                  <p class="lat">På SPIIKgatan marcherar vi</p>
                  <p class="lat">Fan va rolig kvällen ska bli</p>
                  <p class="lat">På kåren är det våran tur</p>
                  <p class="lat">Sittningen den kommer nu</p>
                  <p class="lat">Punsch välkomnas med öppen famn</p>
                  <p class="lat">Ölen häfver vi som kan</p>
                  <p class="lat">Ettor har ni längtat att bli</p>
                  <p class="latsista">Det blir ni efter GrandeFinal</p>

                  <p class="lat">Vi är alla SPIIKar det är vi som hörs mest </p>
                  <p class="lat">Alla andra lipar för att vi är bäst</p>
                  <p class="lat">Välkomna alla nya till Calmare stad </p>
                  <p class="lat">Nu ska vi ut o festa, sjunga och va glad</p>


	    </div>
{% endblock %}
