---
title: Kontakt
slug: kontakt
position: 50
listed: true
published: true
is_layout: false
---
{% extends parent %}
{% block 'main' %}
    	    	    <div id="wrapBra">
    	    	      <div class="fixedHeight">
    	    	        <h1>Frågor?</h1>
        	    	    <p>Har du några frågor är det bara att höra av sig till</p>
        	    	    <p class="titles">sexmaster@spiik.com</p>
    	    	      </div>
	    	        </div>
{% endblock %}
