---
title: Schema
slug: schema
position: 20
listed: true
published: true
is_layout: false
---
{% extends parent %}

{% block 'main' %}

  <div id="wrapBra">

	    <h1>Schema</h1>

		<p>Här kommer det snart finnas ett schema för introduktionens två veckor. Så länge tipsar vi att hålla koll på <a href="https://www.facebook.com/events/314494048962674/" target="_blank">introduktionens event</a> och <a href="https://www.facebook.com/Spiik6/">SPIIK6</a> på facebook.</p>

  <div>

{% endblock %}
