---
title: Schema
slug: schema
position: 20
listed: true
published: true
is_layout: false
---
{% extends parent %}
{% block 'main' %}
  <div id="wrapBra">
	    <h1>Schema för nollningens två veckor</h1>
	    <p>Vi hoppas att så många som möjligt deltar i aktiviteterna på nollningen. Detta är produkten av en lång tids arbete från vår sida och är väl genomtänkt för att göra allt så bra som möjligt för de nya studenterna. Lekarna och de andra aktiviteterna är inte på något sätt till för att förnedra någon utan är till för att ni ska lära känna varandra, skapa en bra gemenskap och framförallt ha kul!</p>
	    <div>
	        <h3 class="day">DAG 1</h3>
	        <h3 class="dayName">Måndag 24e</h3>
	        <ul>
	            <li><span class="date">09:00</span>Upprop och försäljning av diverse saker. (plats: <a href="https://www.google.se/maps/place/Gr%C3%B6ndalsv%C3%A4gen+21,+392+36+Kalmar/@56.6786566,16.3590932,17z/data=!3m1!4b1!4m2!3m1!1s0x4657d17358659c31:0x91e9e65710898956">Kalmar Nyckel</a>)</li>
	            <li><span class="date">11:30</span>Stadsvandring</li>
	            <li><span class="date">15:00</span>Brännboll på Skälby</li>
	            <li><span class="date">19:00</span>Nollepub (plats:<a href="https://www.google.se/maps/place/Gr%C3%B6ndalsv%C3%A4gen+21,+392+36+Kalmar/@56.6786566,16.3590932,17z/data=!3m1!4b1!4m2!3m1!1s0x4657d17358659c31:0x91e9e65710898956">Kalmar Nyckel</a>)</li>
              <li><span class="date">22:00</span>Cårkväll på <a href="https://www.google.se/maps/place/Restaurang+Sandra/@56.6647794,16.33457,16.75z/data=!4m2!3m1!1s0x4657d18112b47501:0xab1b1b93ddc949c3">Sandras</a></li>
	        </ul>
	    </div>
	    <div>
	        <h3 class="day">DAG 2</h3>
	        <h3 class="dayName">Tisdag 25e</h3>
	        <ul>
              <li><span class="date">11:00</span>Aktivitetsmässa (Nykteraktivitet) (plats: <a href="https://www.google.se/maps/place/%C3%84ventyrsbadet+i+Kalmar/@56.6680255,16.3492881,17z/data=!3m1!4b1!4m2!3m1!1s0x4657d179c10c359d:0x51e5e9f331a0b4e2">Kalmar Sportcenter</a>)</li>
	            <li><span class="date">14:00</span>Slaget på <a href="https://www.google.se/maps/place/Lind%C3%B6v%C3%A4gen,+Kalmar/@56.6730158,16.3580678,16z/data=!4m2!3m1!1s0x4657d171621a42e7:0x4a180d33876ab252">Lindö</a> med CNas</li>
	            <li><span class="date">18:00</span>Trubadurkväll</li>
	        </ul>
	    </div>
	    <div>
	        <h3 class="day">DAG 3</h3>
	        <h3 class="dayName">Onsdag 26e</h3>
	        <ul>
	            <li><span class="date">13:00</span>Teknikkamp på <a href="https://www.google.se/maps/place/Gr%C3%B6ndalsv%C3%A4gen+21,+392+36+Kalmar/@56.6786566,16.3590932,17z/data=!3m1!4b1!4m2!3m1!1s0x4657d17358659c31:0x91e9e65710898956">Nyckel</a></li>
	            <li><span class="date">18:00</span>Temasittning (spel) med Karolin på <a href="https://www.google.se/maps/place/Restaurang+Sandra/@56.6647794,16.33457,16.75z/data=!4m2!3m1!1s0x4657d18112b47501:0xab1b1b93ddc949c3">Sandras</a></li>
                <li><span class="date">21:00</span>Cårkväll</li>
	        </ul>
	    </div>
	    <div>
	        <h3 class="day">DAG 4</h3>
	        <h3 class="dayName">Torsdag 27e</h3>
	        <ul>
	            <li><span class="date">11:00</span>Poängjakt</li>
	            <li><span class="date">16:00</span>Nollequiz (plats: <a href="https://www.google.se/maps/place/Gr%C3%B6ndalsv%C3%A4gen+21,+392+36+Kalmar/@56.6786566,16.3590932,17z/data=!3m1!4b1!4m2!3m1!1s0x4657d17358659c31:0x91e9e65710898956">Kalmar Nyckel</a>)</li>
	            <li><span class="date">18:00</span>Nollepub (plats: <a href="https://www.google.se/maps/place/Gr%C3%B6ndalsv%C3%A4gen+21,+392+36+Kalmar/@56.6786566,16.3590932,17z/data=!3m1!4b1!4m2!3m1!1s0x4657d17358659c31:0x91e9e65710898956">Kalmar Nyckel</a>)</li>
	        </ul>
	    </div>
	    <div>
	        <h3 class="day">DAG 5</h3>
	        <h3 class="dayName">Fredag 28e</h3>
	        <ul>
	            <li><span class="date">12:00</span>Femkamp med CNaS, Karolin, Meskalin & Humanus i Skälby </li>
	            <li><span class="date">17:00</span>GP <a href="https://www.facebook.com/events/1661012567476860/">Event Länk</a> (plats: <a href="https://www.google.se/maps/place/Lind%C3%B6v%C3%A4gen,+Kalmar/@56.6730158,16.3580678,16z/data=!4m2!3m1!1s0x4657d171621a42e7:0x4a180d33876ab252">lindö</a>)</li>
	        </ul>
	    </div>
	    <div>
	        <h3 class="day">DAG 6</h3>
	        <h3 class="dayName">Lördag 29e</h3>
	        <ul>
              <li><span class="date">11:00</span>Kalmar water challenge <a href="https://www.facebook.com/events/435069223284917/">Event Länk</a></li>
	            <li><span class="date">20:00</span>Cårkväll på GP <a href="https://www.facebook.com/events/1661012567476860/">Event Länk</a> (plats: <a href="https://www.facebook.com/events/1661012567476860/">Event Länk</a> (plats: <a href="https://www.google.se/maps/place/Lind%C3%B6v%C3%A4gen,+Kalmar/@56.6730158,16.3580678,16z/data=!4m2!3m1!1s0x4657d171621a42e7:0x4a180d33876ab252">lindö</a>)</li>
	        </ul>
	    </div>
	    <div>
	        <h3 class="day">DAG 7</h3>
	        <h3 class="dayName">Söndag 30e</h3>
	        <ul>
	            <li><span class="date">16:00</span>Vilodag!!! Vi chillar på <a href="https://www.google.se/maps/place/Gr%C3%B6ndalsv%C3%A4gen+21,+392+36+Kalmar/@56.6786566,16.3590932,17z/data=!3m1!4b1!4m2!3m1!1s0x4657d17358659c31:0x91e9e65710898956">Nyckel</a> med några filmer. Nu finns det tid över för båtbygge. (Nykteraktivitet)</li>
	        </ul>
	    </div>
	    <div>
	        <h3 class="day">DAG 8</h3>
	        <h3 class="dayName">Måndag 31a</h3>
	        <ul>
	            <li><span class="date">17:00</span>Båtrajz med Karolin i Systraströmmen (Sveaplan)</li>
	            <li><span class="date">20:00</span>NolleKLUBB med Karolin, Meskalin & Humanus (plats: <a href="https://www.google.se/maps/place/Gr%C3%B6ndalsv%C3%A4gen+21,+392+36+Kalmar/@56.6786566,16.3590932,17z/data=!3m1!4b1!4m2!3m1!1s0x4657d17358659c31:0x91e9e65710898956">Kalmar Nyckel</a>)</li>
	        </ul>
	    </div>
	    <div>
	        <h3 class="day">DAG 9</h3>
	        <h3 class="dayName">Tisdag 1a</h3>
	        <ul>
	            <li><span class="date">16:00</span>Brännboll med Linnéstudenterna (plats: kalmarsundsparken)</li>
	        </ul>
	    </div>
	    <div>
	        <h3 class="day">DAG 10</h3>
	        <h3 class="dayName">Onsdag 2a</h3>
	        <ul>
	            <li><span class="date">17:00</span>Pubrunda i Kalmar med start på Larmtorget</li>
              	<li><span class="date">21:00</span>Cårkväll</li>
	        </ul>
	    </div>
	    <div>
	        <h3 class="day">DAG 11</h3>
	        <h3 class="dayName">Torsdag 3e</h3>
	        <ul>
	            <li><span class="date">20:00</span>Mysteriet i Kalmarsundsparken med ESS och Meskalin (Nykteraktivitet)</li>
	        </ul>
	    </div>
	    <div>
	        <h3 class="day">DAG 12</h3>
	        <h3 class="dayName">Fredag 4e</h3>
	        <ul>
	            <li><span class="date">17:00</span>GRANDE FINALE på Cårhuset</li>
              <li><span class="date">21:00</span>Cårkväll</li>
	        </ul>
	    </div>
	    <div>
	        <h3 class="day">DAG 13</h3>
	        <h3 class="dayName">Lördag 5e</h3>
	        <ul>
	            <li><span class="date">21:00</span>Cårkväll</li>
	        </ul>
	    </div>
  <div>
{% endblock %}
